<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователь с таким именем или email существует</title>
  <style>
    h1 {
      color: red;
    }
    A:link {
        font-size: 50px;
    }
    A:visited{
        font-size: 50px;
    }
    .navigation-button {
        width: 650px;
        text-align: left;
    }
  </style>
</head>
<body>
<h1 align="center">Пользователь с таким именем или email существует</h1>
<br>

<div th:insert="navigation :: navigation"></div>

</body>
</html>