<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="addingForm">

    <div class="tab-pane fade" id="new-user-post-form" role="tabpanel" aria-labelledby="new-user-tab">
        <div class="gray border">
            <h3 style="text-align: left; margin: 1%">Add new user</h3>
        </div>
        <div style="margin:0">
            <div class="col-md bg-white border">
                <form class="col-md text-center">

                    <label for="new-user-firstName"><b>First name</b></label>
                    <input name="firstName" type="text"
                           class="form-control" id="new-user-firstName"
                           style="width: 30%" required/>
                    <br>
                    <label for="new-user-lastName"><b>Last name</b></label>
                    <input name="lastName" type="text"
                           class="form-control" id="new-user-lastName"
                           style="width: 30%" required/>
                    <br>
                    <label for="new-user-age"><b>Age</b></label>
                    <input name="age" type="number"
                           class="form-control" id="new-user-age"
                           style="width: 30%" required/>
                    <br>
                    <label for="new-user-email"><b>Email</b></label>
                    <input name="email" type="email"
                           class="form-control" id="new-user-email"
                           style="width: 30%" required/>
                    <br>
                    <label for="new-user-password"><b>Password</b></label>
                    <input name="password" type="password"
                           class="form-control" id="new-user-password"
                           style="width: 30%" required/>
                    <br>
                    <label for="new-user-roles"><b>Role</b></label>

                    <select multiple class="form-control" id="new-user-roles" name="roleName" size="2"
                            style="width: 30%" required>
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                    <br><br>
                    <button type="submit" class="btn btn-success" value="Add User">Add new User
                    </button>
                </form>
            </div>
        </div>
    </div>

</th:block>